
<h2><%= @task.title %></h2>


<%= link_to "Delete restaurant", task_path(@task), method: :delete, data: { confirm: "Are you sure?" }  %>

<br>


<%= link_to "Edit task", tasks_edit_path %>

<br>

<p>-------------------------------------</p>

<%= link_to "Back to list", tasks_path %>


